<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gallery{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/swipebox.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/screen.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/json2.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/underscore.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/backbone.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/backbone.marionette.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/spin.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery.spin.js') }}"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
            <script src="{{ asset('assets/js/entities/album.js') }}"></script>
            <script src="{{ asset('assets/js/entities/image.js') }}"></script>
            <script src="{{ asset('assets/js/common/views.js') }}"></script>
            <script src="{{ asset('assets/js/apps/gallery/gallery_app.js') }}"></script>
            <script src="{{ asset('assets/js/apps/gallery/list/list_controller.js') }}"></script>
            <script src="{{ asset('assets/js/apps/gallery/list/list_view.js') }}"></script>
            <script src="{{ asset('assets/js/apps/gallery/show/show_controller.js') }}"></script>
            <script src="{{ asset('assets/js/apps/gallery/show/show_view.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/swipebox.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
